---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostLinks from "@/components/PostLinks.astro";

const allPosts = await getCollection("posts");
const pageTitle = "Posts";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>All of my recent posts.</h1>

    <PostLinks posts={allPosts} />
</BaseLayout>
