---
import BaseLayout from "../../layouts/BaseLayout.astro";
import type { MarkdownInstance } from "astro";
import PostLinks from "../../components/PostLinks.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths(): Promise<any> {
    const allPosts = await getCollection("posts");
    const uniqueTags = [
        ...new Set(
            allPosts
                .map((post) => post.data.tags)
                .filter((post) => post !== null && post !== undefined)
                .flat(),
        ),
    ];

    return uniqueTags.map((tag) => {
        return {
            params: { tag },
            props: {
                posts: allPosts.filter((post) => post.data.tags?.includes(tag)),
            },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>
    <PostLinks posts={posts} />
</BaseLayout>
