---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout pageTitle="Blog - Shattered Memories">
	<h1>About Lead</h1>

	<blockquote class="not-italic">
		究竟什么是真正的幸福，世上是无人知晓的。但只要朝着正确的道路坚持走下去，不管途中遇到怎样艰难痛苦的事，攀登高山也好，爬下陡坡也罢，都能一步步地靠近幸福。《银河铁道之夜》
	</blockquote>

	<p>平凡的高中生。想有一番作为的人。我是一个123的人。</p>
</BaseLayout>
