---
import { Button } from "@/components/ui/button";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
---

<BaseLayout pageTitle="Blog - Shattered Memories">
	<h1>About Lead</h1>
	<p>在我的回忆中曾有一串光凝结成的碎片。</p>
</BaseLayout>
