---
import BlogPostLink from "@/components/BlogPostLink.astro";
import { getCollection } from "astro:content";

const blogEntries = await getCollection("posts");
interface Props {
    posts: typeof blogEntries;
}

const { posts } = Astro.props;
---

<div class="flex flex-wrap">
    {
        posts
            .toSorted(
                (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
            )
            .filter((entry) => {
                return !entry.data.draft;
            })
            .map((post) => (
                <div class="m-3 w-full">
                    <BlogPostLink post={post} />
                </div>
            ))
    }
</div>
