---
import BlogPostLink from "@/components/BlogPostLink.astro";
const { posts } = Astro.props;
---

<div class="flex flex-wrap">
    {
        posts.map((post: any) => (
            <div class="m-3 w-64">
                <BlogPostLink
                    url={`/posts/${post.slug}`}
                    title={post.data.title}
                    desc={post.data.description}
                    date={post.data.pubDate}
                />
            </div>
        ))
    }
</div>
