---

---

<aside id="bar">
    <div id="nav">
        <h1>Sidebar</h1>

        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
    </div>
</aside>

<style>
    #bar {
        width: 20%;
        height: 100vh;
        padding: 1em;
        background-image: url("../../sidebar.jpg");
        background-size: cover;
        background-repeat: no-repeat;

        overflow: hidden;
    }
    ul {
        list-style: none;
    }
</style>
