---
import { ModeToggle } from "./ThemeToggle";
---

<aside id="bar">
    <div id="bar-content">
        <a href="/" id="blog-name"> Shattered Memories </a>
        <br />
        <br />
        <a href="/"> <div>About Lead</div> </a>
        <a href="/posts"> <div>Posts</div></a>
        <a href="/links"> <div>Links</div></a>
        <a href="/gallery"> <div>Gallery</div></a>
        <a href="/tags"> <div>Tags</div></a>
    </div>
    <div id="bar-bottom">
        <p>
            <a href="https://x.com/breaking_lead_g">twitter</a>
            <a href="https://www.github.com/breakinglead">github</a>

            &nbsp;
            <ModeToggle client:load />
        </p>
    </div>
</aside>

<style>
    #bar {
        height: 100vh;
        min-height: 100%;

        background-image: url("../../sidebar.jpg");
        background-size: cover;
        overflow: hidden;

        display: flex;
        flex-direction: column;
    }
    #bar-content {
        flex: 1;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        text-align: right;
        line-height: 2em;
    }
    #bar-bottom {
        flex: 0 0 30px;
        text-align: right;
        padding: 0 1em;
        justify-self: end;
        max-height: 5rem;
    }
    #blog-name {
        text-align: center;
        font-size: 2rem;
        padding: 1em 1em;
    }
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: rgb(12, 206, 255);
        backdrop-filter: blur(6px);
    }
    a div {
        padding: 5px 1.5em;
    }
</style>
