---
import Footer from "@/components/Footer.astro";
import Sidebar from "@/components/Sidebar.astro";
import "@/styles/global.css";
const { pageTitle } = Astro.props;
---

<script is:inline>
    const getThemePreference = () => {
        if (
            typeof localStorage !== "undefined" &&
            localStorage.getItem("theme")
        ) {
            return localStorage.getItem("theme");
        }
        return window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";
    };
    const isDark = getThemePreference() === "dark";
    document.documentElement.classList[isDark ? "add" : "remove"]("dark");

    if (typeof localStorage !== "undefined") {
        const observer = new MutationObserver(() => {
            const isDark = document.documentElement.classList.contains("dark");
            localStorage.setItem("theme", isDark ? "dark" : "light");
        });
        observer.observe(document.documentElement, {
            attributes: true,
            attributeFilter: ["class"],
        });
    }
</script>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/logo.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <!-- <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} /> -->
        <!-- Font -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/satouriko/LxgwWenKai_Webfonts@v1.101/dist/LXGWWenKai-Regular.css"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <title>{"Shattered Memories | " + pageTitle}</title>
    </head>
    <body>
        <div id="columns">
            <div id="sidebar">
                <Sidebar />
            </div>

            <div id="sidebar-placeholder"></div>

            <div id="content" class="prose dark:prose-invert">
                <slot />
                <Footer />
            </div>
        </div>
    </body>

    <style>
        :root {
            --sidebar-width: 20%;
        }
        #columns {
            width: 100%;
            display: grid;
            grid-template-columns: var(--sidebar-width) calc(
                    100% - var(--sidebar-width)
                );
        }
        #sidebar {
            position: fixed;
            min-width: var(--sidebar-width);
            width: var(--sidebar-width);
        }
        #sidebar-placeholder {
            visibility: hidden;
            box-sizing: border-box;
            height: 100vh;
            min-width: var(--sidebar-width);
            width: var(--sidebar-width);
        }
        #content {
            min-width: 60%;
            box-sizing: content-box;
            justify-self: center;
            margin: 0;
            padding: 3em 0;
            overflow-y: auto;
        }
        #title {
            text-align: center;
        }
    </style>
</html>

<script>
    import pangu from "pangu";
    pangu.spacingElementById("content");
</script>
