---
import BaseLayout from "./BaseLayout.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const c = await getCollection("posts");
interface Props {
    post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
const title = post.data.title ?? "Untitled";
---

<BaseLayout pageTitle={title}>
    <div>
        <slot />

        <div class="text-right text-red-500">
            Published on: {post.data.pubDate.toLocaleDateString()}
        </div>
    </div>
</BaseLayout>
