---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
    <div>
        <slot />

        <pre>
        Published on: {frontmatter.pubDate.toString().slice(0, 10)}       
        </pre>
    </div>
</BaseLayout>
